{% load static %}
<!-- jquery
    ============================================ -->
<script src="{% static 'users/js/vendor/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{% static 'users/js/bootstrap.min.js' %}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{% static 'users/js/jquery.meanmenu.js' %}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{% static 'users/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- sticky JS
    ============================================ -->
<script src="{% static 'users/js/jquery.sticky.js' %}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{% static 'users/js/jquery.scrollUp.min.js' %}"></script>
<!-- counterup JS
    ============================================ -->
<script src="{% static 'users/js/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'users/js/counterup/waypoints.min.js' %}"></script>
<script src="{% static 'users/js/counterup/counterup-active.js' %}"></script>
<!-- peity JS
    ============================================ -->
<script src="{% static 'users/js/peity/jquery.peity.min.js' %}"></script>
<script src="{% static 'users/js/peity/peity-active.js' %}"></script>
<!-- sparkline JS
    ============================================ -->
<script src="{% static 'users/js/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'users/js/sparkline/sparkline-active.js' %}"></script>
<!-- flot JS
    ============================================ -->
<script src="{% static 'users/js/flot/jquery.flot.js' %}"></script>
<script src="{% static 'users/js/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'users/js/flot/jquery.flot.spline.js' %}"></script>
<script src="{% static 'users/js/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'users/js/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'users/js/flot/Chart.min.js' %}"></script>
<script src="{% static 'users/js/flot/flot-active.js' %}"></script>
<!-- map JS
    ============================================ -->
<script src="{% static 'users/js/map/raphael.min.js' %}"></script>
<script src="{% static 'users/js/map/jquery.mapael.js' %}"></script>
<script src="{% static 'users/js/map/france_departments.js' %}"></script>
<script src="{% static 'users/js/map/world_countries.js' %}"></script>
<script src="{% static 'users/js/map/usa_states.js' %}"></script>
<script src="{% static 'users/js/map/map-active.js' %}"></script>
<!-- data table JS
    ============================================ -->
<script src="{% static 'users/js/data-table/bootstrap-table.js' %}"></script>
<script src="{% static 'users/js/data-table/tableExport.js' %}"></script>
<script src="{% static 'users/js/data-table/data-table-active.js' %}"></script>
<script src="{% static 'users/js/data-table/bootstrap-table-editable.js' %}"></script>
<script src="{% static 'users/js/data-table/bootstrap-editable.js' %}"></script>
<script src="{% static 'users/js/data-table/bootstrap-table-resizable.js' %}"></script>
<script src="{% static 'users/js/data-table/colResizable-1.5.source.js' %}"></script>
<script src="{% static 'users/js/data-table/bootstrap-table-export.js' %}"></script>
<!-- main JS
    ============================================ -->
<script src="{% static 'users/js/modal-active.js' %}"></script>
<script src="{% static 'users/js/main.js' %}"></script>