{% load static %}
<link rel="shortcut icon" type="users/image/x-icon" href="{% static 'img/favicon.ico' %}">
<!-- Google Fonts
    ============================================ -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
<!-- Bootstrap CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
<!-- Bootstrap CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/font-awesome.min.css' %}">
<!-- adminpro icon CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/adminpro-custon-icon.css' %}">
<!-- meanmenu icon CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/meanmenu.min.css' %}">
<!-- data-table CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/data-table/bootstrap-table.css' %}">
<link rel="stylesheet" href="{% static 'users/css/data-table/bootstrap-editable.css' %}">
<!-- mCustomScrollbar CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/jquery.mCustomScrollbar.min.css' %}">
<!-- modals CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/modals.css' %}">
<!-- tabs CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/tabs.css' %}">
<!-- animate CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/animate.css' %}">
<!-- normalize CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/normalize.css' %}">
<!-- form CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/form/all-type-forms.css' %}">
<link rel="stylesheet" href="{% static 'users/css/form.css' %}">
<!-- style CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/style.css' %}">
<!-- responsive CSS
    ============================================ -->
<link rel="stylesheet" href="{% static 'users/css/responsive.css' %}">
<!-- modernizr JS
    ============================================ -->
<script src="{% static 'users/js/vendor/modernizr-2.8.3.min.js' %}"></script>