<div id="WarningModalalert" class="modal modal-adminpro-general Customwidth-popup-WarningModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <span class="adminpro-icon adminpro-warning-danger modal-check-pro information-icon-pro"></span>
                <h2>Logout!</h2>
                <p>Anda yakin ingin meninggalkan halaman ini.</p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Tidak</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
</div>