{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block contents %}
<form id="adminpro-form" class="adminpro-form" method="POST">
    {% csrf_token %}
    <div class="col-lg-6">
        <div class="login-bg">
            <div class="row">
                <div class="col-lg-12">
                    <div class="login-title">
                        <h1 class="text-center">Masukan kata sandi baru!</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{form|crispy}}
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">

                </div>
                <div class="col-lg-7">
                    <div class="login-button-pro">
                        <button type="submit" class="login-button login-button-lg">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock contents %}
