{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/styles/category.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/styles/category_responsive.css' %}">
<link rel="stylesheet" href="{% static 'blog/tabs.css' %}">
<link rel="stylesheet" href="{% static 'blog/shadow.css' %}">
<link rel="stylesheet" href="{% static 'blog/post-meta.css' %}">
{% endblock extra_head %}


{% block header %}
<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'blog/images/category.jpg' %}" data-speed="0.8" styel="opacity: 0.5">
    </div>
</div>
{% endblock header %}


{% block contents %}
<div class="col-md-10 offset-md-1 mb-5">
	<div class="main_content">
        <div class="profile user-profile-wrap shadow-reset mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="user-profile-img">
                                <img src="{{users.profile.foto.url}}"  style="width: 90px; height: 90px; border-radius: 50%" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="user-profile-content">
                                <h2>@{% if users.username %} {{users.username}} {% else %} - {% endif %}</h2> 
                                <p ><i class="fa fa-user" aria-hidden="true"> </i> <strong>{% if users.first_name %} {{users.first_name}} {{users.last_name}} {% else %} - {% endif %}</strong></p>
                                <p class="profile-founder" style="margin-top: -15px;"><i class="fa fa-map-marker" aria-hidden="true"> </i> {% if users.profile.alamat %} {{users.profile.alamat}} {% else %}  - {% endif %} </p>
                                <p style="margin-top: -15px;"><i class="fa fa-envelope" aria-hidden="true"> </i> {% if users.email %} {{users.email}} {% else %} - {% endif %}
                                </p>
                                <p class="profile-des">{{users.profile.status}}</p>
                                <div id="load_more" class="m-3 load_more_button text-center trans_200"><a href="{% url 'users:follow' users.id %}"> Follow</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="user-profile-social-list">
                        <table class="table small m-b-xs">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>{{sum_views}}</strong> Views
                                    </td>
                                    <td>
                                        <strong>{{users.profile.follower}}</strong> Followers
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <strong>612</strong> Comments
                                    </td>
                                    <td>
                                        <strong>542</strong> Articles
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% if users.username is not request.user.username %}
                        {% else %}
                        <div>
                        <a class="btn btn-outline-primary m-2" style="color: black;"  href="#" data-toggle="modal" data-target="#PrimaryModalalert">Update</a>
                        <a class="btn btn-outline-secondary m-2" style="color: black;"  href="{% url 'users:tambah-artikel' %}">Add Post</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="analytics-sparkle-line user-profile-sparkline">
                        <div class="analytics-content">
                            <h5>Visits in last 24h</h5>
                            <h2 class="counter">498009</h2>
                            
                            <div id="sparkline22">
                             <canvas width="726" height="60" style="display: inline-block; width: 726px; height: 60px; vertical-align: top;"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post_body mb-5 mt-5">
            <nav>
                <div class="nav nav-tabs custom-menu-wrap " id="nav-tab" role="tablist" >
                    <ul class="nav nav-tabs custom-menu-wrap ">
                        <li><a class="nav-item nav-link active" id="nav-postAll-tab" data-toggle="tab" href="#nav-postAll" aria-controls="nav-postAll" aria-selected="true">Post All</a>
                        </li>
                        <li><a class="nav-item nav-link" id="nav-suka-tab" data-toggle="tab" href="#nav-suka" aria-controls="nav-suka" aria-selected="false">Suka</a>
                        </li>
                        <li><a class="nav-item nav-link" id="nav-arsip-tab" data-toggle="tab" href="#nav-arsip" aria-controls="nav-arsip" aria-selected="false">Arsip</a>
                        </li>
                    </ul>
                    
                    
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active animated " id="nav-postAll" role="tabpanel" aria-labelledby="nav-postAll-tab">
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-lg-8">
                            <div class="card card_largest_with_image grid-item s_dow">
                                <img class="card-img-top" src="{{post.thumbnail.url}}" alt="" style="height: 180px;">
                                <div class="card-body">
                                    <div class="card-title">
                                        <a href="{% url 'blog:detail' post.slug %}">{{post.judul}}</a>
                                        {% if request.user == post.user %}
                                            <a href="{% url 'users:update-artikel' post.id %}" class="ml-2"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            {% comment %} <a href="#" class="ml-2"><i class="fa fa-trash" aria-hidden="true"></i></a> {% endcomment %}
                                            <a class="ml-2" style="color: black;"  href="#" data-toggle="modal" data-target="#DangerModalalert"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            {% endif %}
                                            {% include 'users/delete_artikel.html' %}
                                    </div>
                                    <p class="card-text">{{post.atrikel|safe|truncatewords:"20"}}</p>
                                    <div class="likes-share-download d-flex align-items-center justify-content-between mt-2">
                                        <div>
                                            <a href="{% url 'blog:penulis' post.user.username %}" class="mr-3"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.username}}</a>
                                            <a href="#" class="mr-3"><i class="fa fa-eye" aria-hidden="true"></i> {{post.views}}</a>
                                            <span class="pointer">
                                                {% if request.user in post.likes.users.all%}
                                                <!-- already liked-->
                                                <a href={% url 'blog:like_dislike' post_id=post.pk opinion='like' %}> <i
                                                data-toggle="tooltip" data-placement="bottom" title="Unlike"
                                                class="like fa fa-heart pr-2" style="color: red;">
                                                <span>{{post.likes_hit}}</span>
                                                </i>
                                                </a>
                                                {% else %}
                                                <!--not liked-->
                                                <a href={% url 'blog:like_dislike' post_id=post.pk opinion='like' %}><i
                                                data-toggle="tooltip" data-placement="bottom" title="Like"
                                                class="default-icon fa fa-heart pr-2">
                                                <span>{% if post.likes  %}{{post.likes_hit}} {% else %} 0
                                                {% endif %}</span></i>
                                                </a>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div>
                                            <span href="#" class="mr-3"><i class="fa fa-comments" aria-hidden="true"></i> {{post.comments_hit}}</span>
                                            {% if request.user in post.bookmarks.all %}
                                            <a href="{% url 'blog:bookmarks' post.id %}" style="color: red;"><i class="fa fa-bookmark" aria-hidden="true" style="color: red;"></i> {{post.bookmarks_hit}}</a>
                                            {% else %}
                                            <a href="{% url 'blog:bookmarks' post.id %}"><i class="fa fa-bookmark" aria-hidden="true"></i> {{post.bookmarks_hit}}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>
                    </div>
                </div>
                <div class="tab-pane fade animated " id="nav-suka" role="tabpanel" aria-labelledby="nav-suka-tab">
                    <div class="row">
                        {% if likes.count >= 1 %}
                        {% for like in likes %}
                        <div class="col-lg-4 mb-3">
                            <div class="card card_small_with_image grid-item s_dow s_dow">
                                <img class="card-img-top" src="{{like.post.thumbnail.url}}" alt="" style="height: 180px;">
                                <div class="card-body">
                                    <div class="card-title card-title-small"><a href="{% url 'blog:detail' like.post.slug %}">{{like.post.judul}}</a></div>
                                    <div class="likes-share-download d-flex align-items-center justify-content-between mt-2">
                                        <div>
                                            <a href="#" class="mr-3"><i class="fa fa-user" aria-hidden="true"></i> {{like.post.user.username}}</a>
                                            <span class="pointer">
                                                {% if request.user in like.post.likes.users.all%}
                                                <!-- already liked-->
                                                <a href={% url 'blog:like_dislike' post_id=like.pk opinion='like' %}> <i
                                                data-toggle="tooltip" data-placement="bottom" title="Unlike"
                                                class="like fa fa-heart pr-2" style="color: red;">
                                                <span>{{like.post.likes_hit}}</span>
                                                </i>
                                                </a>
                                                {% else %}
                                                <!--not liked-->
                                                <a href={% url 'blog:like_dislike' post_id=like.pk opinion='like' %}><i
                                                data-toggle="tooltip" data-placement="bottom" title="Like"
                                                class="default-icon fa fa-heart pr-2">
                                                <span>{% if like.post.likes_hit  %}{{like.post.likes_hit}} {% else %} 0
                                                {% endif %}</span></i>
                                                </a>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div>
                                            {% if request.user in like.post.bookmarks.all %}
                                            <a href="{% url 'blog:bookmarks' like.id %}" class="mr-3" style="color: red;"><i class="fa fa-bookmark" aria-hidden="true" style="color: red;"></i> {{like.post.bookmarks_hit}}</a>
                                            {% else %}
                                            <a href="{% url 'blog:bookmarks' like.id %}" class="mr-3"><i class="fa fa-bookmark" aria-hidden="true"></i> {{like.post.bookmarks_hit}}</a>
                                            {% endif %}
                                            {% if request.user in like.post.archive.all%}
                                            <a href="{% url 'blog:archives' like.post.id %}" style="color: red;"><i class="fa fa-archive" aria-hidden="true" style="color: red;"></i></a>
                                            {% else %}
                                            <a href="{% url 'blog:archives' like.post.id %}"><i class="fa fa-archive" aria-hidden="true"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="mb-5 mt-5">
                            <h2 class="text-center">Oops! Anda belum memiliki postingan favorit.</h2>
                        </div>
                        {% endif %}
                        
                    </div>
                    
                </div>
                <div class="tab-pane fade animated" id="nav-arsip" role="tabpanel" aria-labelledby="nav-arsip-tab">
                    <div class="row">
                        {% if archives.count >= 1 %}
                            {% for archive in archives %}
                            <div class="col-lg-5 m-2 s_dow card card_default card_small_no_image grid-item">
                                <div class="card-body">
                                    <div class="card-title card-title-small"><a href="post.html">{{archive.judul}}</a></div>
                                    <p class="card-text">{{archive.atrikel|safe|truncatewords:"15"}}</p>
                                    <div class="likes-share-download d-flex align-items-center justify-content-between mt-2">
                                            <div>
                                                <a href="#" class="mr-3"><i class="fa fa-user" aria-hidden="true"></i> {{archive.user.username}}</a>
                                                <span class="pointer">
                                                    {% if request.user in archive.likes.users.all%}
                                                    <!-- already liked-->
                                                    <a href={% url 'blog:like_dislike' post_id=archive.pk opinion='like' %}> <i
                                                    data-toggle="tooltip" data-placement="bottom" title="Unlike"
                                                    class="like fa fa-heart pr-2" style="color: red;">
                                                    <span>{{archive.likes_hit}}</span>
                                                    </i>
                                                    </a>
                                                    {% else %}
                                                    <!--not liked-->
                                                    <a href={% url 'blog:like_dislike' post_id=archive.pk opinion='like' %}><i
                                                    data-toggle="tooltip" data-placement="bottom" title="Like"
                                                    class="default-icon fa fa-heart pr-2">
                                                    <span>{% if archive.likes_hit  %}{{archive.likes_hit}} {% else %} 0
                                                    {% endif %}</span></i>
                                                    </a>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div>
                                                {% if request.user in archive.bookmarks.all %}
                                                <a href="{% url 'blog:bookmarks' archive.id %}" class="mr-3" style="color: red;"><i class="fa fa-bookmark" aria-hidden="true" style="color: red;"></i> {{archive.bookmarks_hit}}</a>
                                                {% else %}
                                                <a href="{% url 'blog:bookmarks' archive.id %}" class="mr-3"><i class="fa fa-bookmark" aria-hidden="true"></i> {{archive.bookmarks_hit}}</a>
                                                {% endif %}
                                                {% if request.user in archive.archive.all%}
                                                <a href="{% url 'blog:archives' archive.id %}" style="color: red;"><i class="fa fa-trash" aria-hidden="true" style="color: red;"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="mb-5 mt-5">
                            <h2 class="text-center">Oops! Anda belum memiliki archives.</h2>
                        </div>
                        {% endif %}
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>
{% include 'users/update.html' %}

{% endblock contents %}


{% block extra_body %}
<script src="{% static 'blog/js/category.js' %}"></script>
{% endblock extra_body %}