{% load static %}
<!-- Header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="logo"><a href="{% url 'home' %}">Risset</a></div>
                    <nav class="main_nav">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'blog:home' %}">Blog</a></li>
                            <li><a href="{% url 'podcast:home' %}">Podcast</a></li>
                            <li><a href="{% url 'video:home' %}">Video</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="search_container ml-auto">
                        <div class="weather">
                            <div class="temperature"><a href="{% url 'users:bookmark' %}"><i class="fa fa-bookmark" aria-hidden="true" style="font-size: 25px;"></i></a></div>
                        </div>
                        <form action="{% url 'blog:search' %}" method="GET", value="{{request.GET.q}}">
                            <input type="text" name="q" value="{{request.GET.q}}" class="header_search_input" required="required" placeholder="Pencarian...">
                            <input type="hidden" value="Search" name="submit"><img class="header_search_icon" src="{% static 'blog/images/search.png' %}" alt="">
                        </form> 
                        {% comment %} <form action="{% url 'search:searchposts' %}" method="GET" value="{{request.GET.q}}">
                        Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
                        <input type="submit" name="submit" value="Search"/>
                        </form> {% endcomment %}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="main_nav ml-auto">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link ">
                            <div class="comment_author_image"><div><img src="{{user.profile.foto.url}}" alt="" style=" border: 2px solid white; width: 35px; height: 35px; border-radius: 50%"></div></div>
                        </a>
                        <nav class="menu_nav">
                            <ul role="menu_nav navbar-nav" class="dropdown-header-top dropdown-menu animated flipInX mt-5 menu_mm pl-2">
                                <li class="nav-item menu_mm"><a href="{% url 'users:profile' %}">My Profile</a>
                                </li>
                                <li class="nav-item menu_mm"><a href="{% url 'users:bookmark' %}">Bookmark</a>
                                </li>
                                <li class="nav-item menu_mm"><a href="#">Settings</a>
                                </li>
                                <li class="nav-item menu_mm">
                                <a class="Warning Warning-color mg-b-10" href="#" data-toggle="modal" data-target="#WarningModalalert"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Logout</a>
                                </li>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    {% else %}
                    <nav class="main_nav">
                        <ul>
                            <li><a href="{% url 'users:register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                        </ul>   
                    </nav> 
                    {% endif %}
                    <div class="hamburger ml-auto menu_mm">
                        <i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <div class="logo menu_mm"><a href="{% url 'home' %}">Risset</a></div>
    <div class="search">
        <form action="{% url 'blog:search' %}" method="GET", value="{{request.GET.q}}">
            <input type="text" type="text" name="q" value="{{request.GET.q}}"  class="header_search_input menu_mm" required="required" placeholder="Pencarian...">
            <input type="hidden" value="Search" name="submit"><img class="header_search_icon menu_mm" src="{% static 'blog/images/search_2.png' %}" alt="">
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="index.html">home</a></li>
            <hr>
            {% if user.is_authenticated %}
            <li class="nav-item menu_mm"><a href="{% url 'users:profile' %}">My Profile</a>
            </li>
            <li class="nav-item menu_mm"><a href="{% url 'users:bookmark' %}">Bookmark</a>
            </li>
            <li class="nav-item menu_mm"><a href="#">Settings</a>
            </li>
            <li class="nav-item menu_mm"><a class="Warning Warning-color mg-b-10" href="#" data-toggle="modal" data-target="#WarningModalalert"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Logout</a>
            </li>
            {% else %}
            <li class="nav-item menu_mm"><a href="{% url 'users:register' %}">Register</a>
            <li class="nav-item menu_mm"><a href="{% url 'login' %}">Login</a>
            {% endif %}
            {% comment %} <li class="menu_mm"><a class="Warning Warning-color mg-b-10" href="#" data-toggle="modal" data-target="#WarningModalalert">Logout</a> {% endcomment %}
            </li>
            <hr>
            <li class="menu_mm"><a href="#">Blog</a></li>
            <li class="menu_mm"><a href="{% url 'podcast:home' %}">Podcast</a></li>
            <li class="menu_mm"><a href="{% url 'video:home' %}">Video</a></li>
            <li class="menu_mm"><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>