{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/styles/post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/styles/post_responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/shadow.css' %}">
<link rel="stylesheet" href="{% static 'podcast/style.css' %}">
<link rel="stylesheet" href="{% static 'blog/post-meta.css' %}">
{% endblock extra_head %}

{% block header %}
  <div class="breadcumb-area single-podcast-breadcumb bg-img bg-overlay" style="background-image: url({% static 'podcast/img/bg-img/2.jpg' %});">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <!-- Music Area -->
          <div class="poca-music-area style-2 bg-transparent mb-0">
            <div class="poca-music-content text-center">
              <span class="music-published-date mb-2">{{podcast.created}}</span>
              <h2 class="text-white">{{podcast.judul}}</h2>
              <div class="non-border">
                    <a href="#">{{podcast.user.username}} </a>|<a href="#"> {{podcast.kategori}}</a>
                </div>
              <!-- Music Player -->
              <div class="poca-music-player style-2">
                <audio preload="auto" controls>
                  <source src="{{podcast.podcast.url}}">
                </audio>
              </div>
              <!-- Likes, Share & Download -->
              <div class="likes-share-download d-flex align-items-center justify-content-between">
                <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                <div>
                  <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                  <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock header %}

{% block contents %}
<div class="col-lg-9">
    <div class="post_content">

        <!-- Top Panel -->
        <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
            <div class="author_image"><div><img src="{{podcast.user.profile.foto.url}}" alt=""></div></div>
            <div class="post_meta"><a href="#">{{podcast.user.username}}</a><span>{{podcast.created}}</span></div>
            <div class="post_share ml-sm-auto">
                <ul class="post_share_list">
                    <li class="post_share_item"><a href="#"><i class="fa fa-bookmark" aria-hidden="true" style="font-size: 25px;"></i></a></li>
                    <li class="post_share_item"><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 25px;"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Post Body -->

        <div class="post_body s_dow">
            <p class="post_p">{{podcast.deskripsi}}</p>

            <!-- Post Tags -->
            <div class="post_tags">
                <ul>
                    {% for tag in podcast.tag.all %}
                    <li class="post_tag"><a href="#">{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <!-- Bottom Panel -->
        <div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
            <div class="author_image"><div><img src="{{podcast.user.profile.foto.url}}" alt=""></div></div>
            <div class="post_meta"><a href="#">{{podcast.user.username}}</a><span>{{podcast.created}}</span></div>
            <div class="post_share ml-sm-auto">
                <span>share</span>
                <ul class="post_share_list">
                    <li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Similar Posts -->
        <div class="similar_posts">
            <div class="row">
                {% if podcast.get_previous_by_created %}
                <div class="col-12 col-lg-6 single_gallery_item entre wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Welcome Music Area -->
                    <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
                        <div class="poca-music-content text-center">
                            <span class="music-published-date mb-2">{{podcast.get_previous_by_created.created}}</span>
                            <div class="card-title card-title-small">
                                <a href="post.html">{{podcast.get_previous_by_created.judul}}</a>
                            </div>
                            <div class="music-meta-data">
                                <a href="#">{{podcast.get_previous_by_created.user.username}} </a>|<a href="#"> {{podcast.get_previous_by_created.kategori}}</a>
                            </div>
                            <!-- Music Player -->
                            <div class="poca-music-player">
                                <audio preload="auto" controls>
                                    <source src="{{podcast.get_previous_by_created.podcast.url}}">
                                </audio>
                            </div>
                            <!-- Likes, Share & Download -->
                            <div class="likes-share-download d-flex align-items-center justify-content-between mt-2">
                                <div>
                                    <a href="#" class="mr-3"><i class="fa fa-user" aria-hidden="true"></i> {{podcast.get_previous_by_created.user.username}}</a>
                                    <a href="#" class=""><i class="fa fa-heart" aria-hidden="true"></i> 29</a>
                                </div>
                                <div>
                                    <a href="#" class="mr-3"><i class="fa fa-comments" aria-hidden="true"></i> 16</a>
                                    <a href="#" class="mr-3"><i class="fa fa-share-alt" aria-hidden="true"></i> 04</a>
                                    <a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> 12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if podcast.get_next_by_created %}
                <div class="col-12 col-lg-6 single_gallery_item entre wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Welcome Music Area -->
                    <div class="poca-music-area style-2 d-flex align-items-center flex-wrap">
                        <div class="poca-music-content text-center">
                            <span class="music-published-date mb-2">{{podcast.get_next_by_created.created}}</span>
                            <div class="card-title card-title-small">
                                <a href="post.html">{{podcast.get_next_by_created.judul}}</a>
                            </div>
                            <div class="music-meta-data">
                                <a href="#">{{podcast.get_next_by_created.user.username}} </a>|<a href="#"> {{podcast.get_next_by_created.kategori}}</a>
                            </div>
                            <!-- Music Player -->
                            <div class="poca-music-player">
                                <audio preload="auto" controls>
                                    <source src="{{podcast.get_next_by_created.podcast.url}}">
                                </audio>
                            </div>
                            <!-- Likes, Share & Download -->
                            <div class="likes-share-download d-flex align-items-center justify-content-between mt-2">
                                <div>
                                    <a href="#" class="mr-3"><i class="fa fa-user" aria-hidden="true"></i> {{podcast.get_next_by_created.user.username}}</a>
                                    <a href="#" class=""><i class="fa fa-heart" aria-hidden="true"></i> 29</a>
                                </div>
                                <div>
                                    <a href="#" class="mr-3"><i class="fa fa-comments" aria-hidden="true"></i> 16</a>
                                    <a href="#" class="mr-3"><i class="fa fa-share-alt" aria-hidden="true"></i> 04</a>
                                    <a href="#"><i class="fa fa-bookmark" aria-hidden="true"></i> 12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Post Comment -->
				<div class="post_comment">
					<div class="post_comment_title">Podcast Comment</div>
					<div class="row">
						<div class="col-xl-8">
							<div class="post_comment_form_container s_dow">
								<form action="{% url 'podcast:comment' podcast.slug %}" method="POST">
									{% csrf_token %}
									<textarea name="body" class="comment_text" placeholder="Your Comment" required="required"></textarea> 
									<button type="submit" class="comment_button">Podcast Comment</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- Comments -->
				<div class="comments">
					<div class="comments_title">Comments <span>({{jumlah_comment.count}})</span></div>
					<div class="row">
						<div class="col-xl-8">
							<div class="comments_container">
								<ul class="comment_list">
									{% for comment in comments %}
									<li class="comment s_dow">
										<div class="comment_body">
											<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
												<div class="comment_author_image"><div><img src="{{comment.user.profile.foto.url}}" alt="" style="width: 35px; height: 35px;"></div></div>
												<small class="post_meta"><a href="#">{{comment.user.username}}</a><span>{{comment.created}}</span></small>

												<button type="button" class="reply_button ml-auto" data-toggle="collapse" data-target="#comment{{comment.id}}" aria-expanded="false" aria-controls="{{comment.id}}">Reply</button>
											</div>
											<div class="comment_content">
												<p>{{comment.body}}</p>
											</div>
											<div class="collapse multi-collapse" id="comment{{comment.id}}">
											<div class="post_comment_form_container">
												<form action="{% url 'podcast:comment' podcast.slug %}" method="POST">
													{% csrf_token %}
													<input type="hidden" name="reply" value="{{comment.id}}">
													<textarea name="body" class="comment_text" placeholder="Your Comment" required="required"></textarea> 
													<button type="submit" class="comment_button">Podcast Comment</button>
												</form>
											</div>
										</div>
										</div>

										<!-- Reply -->
										{% for reply in comment.podcast_replies.all %}
										<ul class="comment_list ml-5">
											<li class="comment">
												<div class="comment_body">
													<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
														<div class="comment_author_image"><div><img src="{{reply.user.profile.foto.url}}" alt="" style="width: 35px; height: 35px;"></div></div>
														<small class="post_meta"><a href="#">{{reply.user.username}}</a><span>{{reply.created}}</span></small>
													</div>
													<div class="comment_content">
														<p>{{reply.body}}</p>
													</div>
												</div>
											</li>
										</ul>
										{% endfor %}
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<div class="load_more" style="margin-top: 50px; margin-bottom: 50px;">
			<p class="text-center">Keep Smile For Awesome :)</p>
		</div>
	</div>
{% endblock contents %}

{% block sidebar %}
{% include 'snippets/sidebar.html' %}
{% endblock sidebar %}

{% block extra_body %}
<script src="{% static 'blog/js/post.js' %}"></script>
<script src="{% static 'podcast/js/poca.bundle.js' %}"></script>
<script src="{% static 'podcast/js/default-assets/active.js' %}"></script>
{% endblock extra_body %}